		<div class="top-bar">
			<span class="left-button" ng-click="goBack()"><a href=""><img ng-src="./images/icons/back-arrow.svg"></a></span>
			<span class="title">DevMountain</span>
			<span class="right-button"><img ng-src="./images/icons/search.svg"></span>
		</div>
        <div class="row">
			<div class="col-xs-5">
                <h1 class="text-left">{{currentFriend.first}}</h1>
                <h1 class="text-right">{{currentFriend.last}}</h1>
                <p class="tagline">{{currentFriend.tagline}}<p>
                <p class="bio">{{currentFriend.bio}}</p>

			</div>

			<div class="col-xs-7">
				<img src="./images/holderimage.png" class="img-fluid triangle">
			</div>
		</div>